* {
  box-sizing: border-box;
}
$primaryColor: #000000;
$secondaryColor: #fff100;
.styleSimiler {
  margin: 20px 0px 20px 0px;
}
.headSimiler {
  color: #542e90;
  font-size: 40px;
  font-weight: 600;
}
.titleSimiler {
  color: #575756;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 25px;
}
